*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body
{
    height: 100%;
    width: 100%;
    position: relative;
}

a, a:active, a:visited, a:focus
{
    color: #fff;
    text-decoration: none;
    outline: none;
}

h1 
{
    color: #fff;
    text-shadow: 0 0 1px #000;
    font-size: 96px;
}

h2
{
    color: #fff;
    text-shadow: 0 0 1px #000;
    font-size: 52px;
    text-decoration: none;
}

textarea
{
    resize: none;
}

button
{
    background: none;
    outline: none;
    border: none;
    background: #29496a;
    color: #fff;
}

a:hover, button:hover
{
    text-shadow: 0 0 10px #fff;
    cursor: pointer;
}

.circle
{
    border-radius: 50%;
}

.small-box
{
    height: 50px;
    width: 50px;
}

.rounded
{
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}

.form-title
{

}

.form-input-wrapper
{
    height: 80%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input, input:focus
{
    border: none;
    outline: none;
    background: none;
    border-bottom: solid 1px #000;
    width: 100%;
    padding: 15px 0 0 0;
    height: 48px;
    font-size: 22px;
}

/**********
 * NAVBAR *
 **********/
nav
{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    background: #29496a;
}

.heading-wrapper
{
    display: none;
}

.nav
{
    width: 45%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item
{
    font-size: 28px;
}

/***********
 * SECTION *
 ***********/
 .sections-wrapper
 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100%;
    overflow-y: scroll;
 }

 section
 {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bdd3eb;
 }

 .section-content
 {
    height: 95%;
    width: 75%;
    display: flex;
    padding: 0 0 25px 0;
 }

 .carousel-page
 {
    height: 100%;
    width: 100%;
    display: none;
 }

 .carousel-nav-wrappper
 {
    position: absolute;
    bottom: 15px;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
 }

 .carousel-btn
 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
 }

 .carousel-page-indicator
 {
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    background: #7c8ea2;
 }

 /* WELCOME */
 #welcome-content
 {
    
 }

 #profile-pic-wrapper
 {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #profile-pic img
 {
    height: 100%;
 }

 #profile-pic
 {
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #about-me-wrapper
 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 #name-wrapper
 {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 }

 #last-name
 {
    margin-top: -50px;
 }

 #job-title
 {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    margin-top: -45px;
 }

 .link-wrapper
 {
    height: 35%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }

 #welcome-links
 {
    margin: -75px auto 0 auto;
 }

 .my-links
{
    background: hsl(211, 44%, 29%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.opaque-bg
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px)
{
    nav
    {
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    .heading-wrapper
    {
        height: 10vh;
        width: 100%;
        display: flex;
        border-bottom: 1px solid #fff;
    }

    .nav
    {
        height: 50vh;
        width: 50%;
        flex-direction: column;
        align-items: center;
    }
}